<footer class="footer-area footer--light mt-5">
	<div class="footer-big">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="footer-widget">
						<div class="widget-about">
							<img src="/logo.svg" alt="" class="img-fluid" />
							<div class="copyright-text">
								<p>
									© 2020 BUSCKR -
									<a href="https://github.com/dmquinn"
										>Daniel Murphy</a
									>
								</p>
							</div>
							<ul class="contact-details">
								<li>
									<span class="icon-envelope-open"></span>
									<a
										href="mailto:danielmurphyberling@gmail.com"
										>DanielMurphyBerling@gmail.com</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="footer-widget"></div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="footer-widget">
						<div class="footer-menu">
							<h4 class="footer-widget-title">Company</h4>
							<ul>
								<li>
									<a href="#">About Us</a>
								</li>
								<li>
									<a href="#">How It Works</a>
								</li>
								<li>
									<a href="#">Affiliates</a>
								</li>
								<li>
									<a href="#">Testimonials</a>
								</li>
								<li>
									<a href="#">Contact Us</a>
								</li>

								<li>
									<a href="#">Blog</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-3 col-sm-4">
					<div class="footer-widget">
						<div class="footer-menu no-padding">
							<h4 class="footer-widget-title">Help Support</h4>
							<ul>
								<li>
									<a href="#">Support Forum</a>
								</li>
								<li>
									<a href="#">Terms &amp; Conditions</a>
								</li>
								<li>
									<a href="#">Support Policy</a>
								</li>

								<li>
									<a href="#">FAQs</a>
								</li>
								<li>
									<a href="#">Artist's Faq</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
